{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="card">

      <h1>Login</h1>

      <form method="POST">
        {% csrf_token %}

        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Senha">

        {% if mensagem %}
          <p>{{ mensagem }}</p>
        {% endif %}

        <button type="submit">Entrar</button>
      </form>

      <a href="{% url 'registro' %}" class="link">Criar conta</a>

    </div>
  </div>
</body>
</html>